# Python Data Structures

There are 4 Python Data Structures
-*Lists
-*Sets
-*Tuple
-*Dictionary

### List

In [8]:
#List is heterogenous data structure
#the Data is only in rows therefore it is one dimensional data dtructure
#allows duplicate entries
#Mutable-Entries are changeable in anytime
#Slicable because List is indexable

In [1]:
score=[] #empty list

In [2]:
type(score)

list

In [4]:
score=[450,350,350,500]#homogenous values=same data type
score

[450, 350, 350, 500]

In [13]:
names=['Aditi',123,'go',12.45,123,'Aditi',123] #Heterogenous Values=Mixed data Type
names

['Aditi', 123, 'go', 12.45, 123, 'Aditi', 123]

In [14]:
names[0]='Ashwathy' #Mutable

In [15]:
names

['Ashwathy', 123, 'go', 12.45, 123, 'Aditi', 123]

In [16]:
names[2:] #Slicable

['go', 12.45, 123, 'Aditi', 123]

In [18]:
names[3:6]

[12.45, 123, 'Aditi']

In [20]:
#names[0:6] #Positive indexing
names[:-1] #Negative Indexing

['Ashwathy', 123, 'go', 12.45, 123, 'Aditi']

In [21]:
names[-3:]

[123, 'Aditi', 123]

In [22]:
names[-5:-2]

['go', 12.45, 123]

In [23]:
len(names)

7

In [24]:
names.append("Manju")
names

['Ashwathy', 123, 'go', 12.45, 123, 'Aditi', 123, 'Manju']

##  2 Sets

In [25]:
#One Dimensional
#Heterogenous
#Never allows duplicates
#not indexable, therefor not slicable

In [26]:
empty_set = set() #empty set
type(empty_set)

set

In [27]:
temp={12,24,56,67}
temp

{12, 24, 56, 67}

In [28]:
type(temp)

set

In [29]:
temp={12,34,67,12,12,34,67,56,34,"Shabana",14.6}
temp

{12, 14.6, 34, 56, 67, 'Shabana'}

In [30]:
temp[0]

TypeError: 'set' object is not subscriptable

In [32]:
temp.add("manju")
temp

{12, 14.6, 34, 56, 67, 'Shabana', 'manju'}

## 3. Tuple

In [33]:
#1D datastructure
#Heterogenous Data structure
#allows Duplicate elements
#slicable because tuple is indexable
#NOT Mutable-Once a value is assigned cannot be changed

In [35]:
empty_tuple=()
type(empty_tuple)

tuple

In [39]:
time=(12,1,3,4,4,5,6,8,"Kumar",120.4)

In [40]:
time

(12, 1, 3, 4, 4, 5, 6, 8, 'Kumar', 120.4)

In [41]:
time[0]

12

In [42]:
time[1:5]

(1, 3, 4, 4)

## 4. Dictionary(dict)-Key:Value Pair

In [ ]:
#2d Datastructure
# can contain duplicate keys but nor duplicate values

In [ ]:
empty_dict={}
type(empty_dict)

In [15]:
shopping_cart={"tomato":5,
              "oats":1,
              "Almond":0.5,
              "Black Raisin":0.5}
shopping_cart

{'tomato': 5, 'oats': 1, 'Almond': 0.5, 'Black Raisin': 0.5}

In [10]:
learner_info={1:"swapnil",2:"aswathy",3:"aswathy"}

In [11]:
learner_info

{1: 'swapnil', 2: 'aswathy', 3: 'aswathy'}

In [9]:
learner_info={1:"swapnil",2:"aswathy",1:"aswathy"} #this is wrong
learner_info

{1: 'aswathy', 2: 'aswathy'}

In [12]:
learner_info.clear()

In [13]:
learner_info

{}

In [16]:
shopping_cart.values()

dict_values([5, 1, 0.5, 0.5])

In [19]:
participant_details={"names":['Aditi','Snehal','Karunasagar','Nandhini'],
                    "age":[23,38,24,23],
                    "interest":['volleyball','cricket','cricket','badminton']}

In [21]:
participant_details

{'names': ['Aditi', 'Snehal', 'Karunasagar', 'Nandhini'],
 'age': [23, 38, 24, 23],
 'interest': ['volleyball', 'cricket', 'cricket', 'badminton']}

In [22]:
import pandas as pd
pd.DataFrame(participant_details)

         names  age    interest
0        Aditi   23  volleyball
1       Snehal   38     cricket
2  Karunasagar   24     cricket
3     Nandhini   23   badminton

In [30]:
scores=[]

In [31]:
for i in range(1,11):
    scores.append(i)
    print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
scores

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#list when you want to change something in it
#Sets when you dont want repeatition
#tuples if you do not want to change somethiing
#dictionary receive values in 2d format