# Chapter-1 Introduction to Python

## 1[a] Hello World

In [1]:
print('Welcome All!!!')

Welcome All!!!

In [11]:
print("HI")

HI

In [12]:
print("""Hi Everybody""")

Hi Everybody

In [13]:
print("Use double or triple quotes always as apostrophese like ' should not create problem")

Use double or triple quotes always as apostrophese like ' should not create problem

### 1[b] Create a Variable

In [14]:
numbers=["Aditi","Ashwathy","Sneha",123,456]

In [20]:
print(numbers)

['Aditi', 'Ashwathy', 'Sneha', 123, 456]

#Dont make a variable name with keyword
len_=34 instead of len
print(sum)

# Chapter 2 - Strings and String Methods

## 2[b] What is a String?

In [84]:
#Anything which is enclosed in quotes.
Learner_names="Manan"
Learner_names

'Manan'

In [22]:
type(Learner_names)

str

In [27]:
target_score=394
print(target_score)
print(type(target_score))
#to execute both the abve lines

394
<class 'int'>

In [30]:
batting_avg=139.34
type(batting_avg)
#hit tab after typing 3 letters to get the variable name without typing fully

float

## 2[c] Concatenation and Indexing and Slicing

In [49]:
fname="Manju"
lname="Kiran"
batch="data science 11am batch"
print(fname,lname) # Combining fname and lname together
print(lname)
print(fname+" "+lname+" is my new learner"+" "+batch+".")# concatenating is addinf some information

Manju Kiran
Kiran
Manju Kiran is my new learner data science 11am batch.

In [50]:
name="Naresh Chandra"
len(name)#to know total length of the name

14

In [51]:
#index no. in python always stats from zero
name[7:] #slicing

'Chandra'

In [54]:
name[7:12] #last number is l+1 because indexing sarts form 0

'Chand'

## 2[c] Manipulate Strings with methods

In [2]:
* Methods/Functions - both are same. Methods are something which ends with ()

SyntaxError: invalid syntax (<ipython-input-2-76e173b92777>, line 1)

In [3]:
learner_1="darshan"
learner_2="chandramohan"
learner_3="WASIM"

In [4]:
print(learner_1)
print(learner_2)
print(learner_3)

darshan
chandramohan
WASIM

In [5]:
str.upper(learner_1) #str is a method to know available str function hit tab after str.

'DARSHAN'

In [6]:
print(learner_1.upper())
print(learner_2.capitalize())
print(learner_3.lower())

DARSHAN
Chandramohan
wasim

## 2[d] - Interact with user input

In [7]:
name=input("Username:")
print(len(name))

Username:Hrithik Yadav
13

In [12]:
#Get Name from the user and lower case it
name=input("Input Name:")
print(name)
print(name.lower())
print(name.casefold())

Input Name:MANJU
MANJU
manju
manju

## 2[e] - Get and print the First Letter of Username

In [16]:
username=input("Name:")
print("The First Letter of the name is :",username[:1].lower())

Name:Manju
The First Letter of the name is : m

## 2[f] - Working with Strings and Numbers

In [22]:
a=input("Enter First Number: ")
b=input("Enter Second Number: ")
c=a*b
print("The Product of"+a+"and"+b+"is"+c)

Enter First Number: 3
Enter Second Number: 4

TypeError: can't multiply sequence by non-int of type 'str'

In [24]:
#error like above will be displayed. therefore convert variable to float

In [3]:
a=input("Enter First Number: ")
b=input("Enter Second Number: ")
c=float(a)*float(b) #this is the placce where it gets converted
print("The Product of",a,"and",b,"is",int(c))

Enter First Number: 3.4
Enter Second Number: 5.6
The Product of 3.4 and 5.6 is 19

## 2[g] - Streamline your Print Statements

In [15]:
name="Dhanashree" #str
batch=11 #int
print("{} is from my DataScience {} am batch.".format(name,batch)) #dot format used most of the times in ML

Dhanashree is from my DataScience 11 am batch.

In [22]:
name=input("Name: ")
age=input("Age: ")
place=input("Place: ")
print("{} is {} years old and is from {} .".format(name,age,place))

Name: Manju Kiran
Age: 30
Place: Bangalore
Manju Kiran is 30 years old and is from Bangalore .

In [1]:
a=input("Enter First Number: ")
b=input("Enter Second Number: ")
calc=float(a)*float(b)
print("The Product of {} and {} is {}.".format(a,b,int(calc)))

Enter First Number: 23.4
Enter Second Number: 1.2
The Product of 23.4 and 1.2 is 28.

## 2[h] Finding a String in a String

In [23]:
comment= "The weather is so gloomy today"

In [26]:
comment.find("weather") #include spaces in .find and starts from 0

4

In [27]:
comment.replace("gloomy","sunny") #this is usefull in data cleaning process

'The weather is so sunny today'

In [28]:
mail="You have won $1000 lottery!!! Congratulations!!!" #example: to find the spam mail
mail

'You have won $1000 lottery!!! Congratulations!!!'

In [30]:
mail.replace("$1000","") #string must be in the same order

'You have won  lottery!!! Congratulations!!!'

In [32]:
#regular expressions to replace anywhere in string

#

# Chapter 3 - Numbers in Python

##  3[a] - Integers and floating point numbers

In [33]:
team_goal=4

In [34]:
type(team_goal)

int

In [6]:
avg_marks=-8.56
type(avg_marks)

float

In [8]:
print(abs(avg_marks))

8.56

###

# Chapter 4 - Functions and Loops

In [41]:
#3 types of Functions:
    #a. Predefined Fuctions - is something which gets installed while you install Jupyter nb
    #b.User Defined Functions - Sequence of methods repeated sequencially.(One after the other)
    #c. Anonymous Functions

##  4[a] Write you own functions

In [44]:
def chicken_shop(): #user defined example
    print("250gm of Chicken")
    print("Ginger Garlic Paste")
    print("4 Eggs")

In [45]:
chicken_shop()

250gm of Chicken
Ginger Garlic Paste
4 Eggs

#### Positional Arguments

In [1]:
def add_numbers(num_1,num_2): #Arguments:the no. of inputs that you are expecting
    return("Sum of 2 numbers:",num_1+num_2)

In [3]:
add_numbers(3,4) #Parameters: (the value we input to the argument created)

Sum of 2 numbers: 7

In [67]:
#get 3 different data types and create own function and print which returns some meaningful statement

In [16]:
def user_details(age,weight,name):
    return "Your name is {} and you are {} years old and your weight is {} Kgs".format(name,age,weight)

In [17]:
user_details(33,84,"Kiran")

'Your name is Kiran and you are 33 years old and your weight is 84 Kgs'

In [18]:
# it is better to use return instead of print

#### Default Arguments

In [24]:
def get_emp_details(name,age,sal,company='Google'): #company='Google' in default arguments
    print("Name:",name)
    print("Age:",age)
    print("Salary:",sal)
    print("Company:",company)

In [25]:
get_emp_details("Manju",30,500000)#Type in same order

Name: Manju
Age: 30
Salary: 500000
Company: Google

In [27]:
get_emp_details(age=29,name="keerthi",sal=30000)#Type in diff order

Name: keerthi
Age: 29
Salary: 30000
Company: Google

In [30]:
get_emp_details('Kumar',27,90000,'Microsoft') #if we want to replace default argument

Name: Kumar
Age: 27
Salary: 90000
Company: Microsoft

#### Variable Length Argument

In [40]:
def get_emp_details(name,age,sal,*company): #(remaining parameters are assigned to *)
    print("Name:",name)
    print("Age:",age)
    print("Salary:",sal)
    print("Company:",company)
get_emp_details('Pravina',24,45000,'Microsoft','IBM')

Name: Pravina
Age: 24
Salary: 45000
Company: ('Microsoft', 'IBM')

In [33]:
get_emp_details('John',28,'ExcelR','Decoder','Databook')

Name: John
Age: 28
Salary: 20000
Company: ('ExcelR', 'Decoder', 'Databook')

In [42]:
def get_emp_details(name,age,sal,**company): #(remaining parameters are assigned to *)
    print("Name:",name)
    print("Age:",age)
    print("Salary:",sal)
    print("Company:",company)
get_emp_details('Pravina',24,45000,company_1='Gooogle',company_2='Microsoft',company_3='IBM')

Name: Pravina
Age: 24
Salary: 45000
Company: {'company_1': 'Gooogle', 'company_2': 'Microsoft', 'company_3': 'IBM'}

## 4[b] Run in Circles

In [7]:
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
for i in a: #for loop
    print(i)

1
2
3
4
5
6
7
8
9
10

In [51]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [60]:
for a in range(1,21):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 4[c] Definition with for loop

In [3]:
def get_name(name):
    for i in name:
        print(i)
    return("Splitting in Required")

get_name("Neha")

N
e
h
a

'Splitting in Required'

# Chapter 5 - Conditional Logic

### 5[a] Compare values using Arithmatic Operators

In [17]:
1==5 #Boolean Values

False

In [22]:
"Sneha"=="Sneha"

True

In [24]:
1!=1 #not equal to

False

##  5[b] Add some logic

In [31]:
a=5
b=10
c=15

a>b and b<c #logic and T & T-----> T

False

In [32]:
a>b or b<c #F or F ---->F

True

In [36]:
trainer_feedback = 'Snehal is a quick learner'
"quick" in trainer_feedback #in opertor checks whether the given work is present or not

True

In [39]:
#not in
"quick" not in trainer_feedback

False

##  5[c] Control the flow of your programming

In [2]:
#simple if else statement
user_input=input("Type Something....")

if len(user_input)<5:
    print("Your input is less than 5 characters")
else:
    print("Your input is greater than 5 Characters")

Type Something....Vishal Dadlani
Your input is greater than 5 Characters

In [6]:
#nested if statement
user_input=input("Type Something....")

if len(user_input)<5:
    print("Your input is less than 5 characters")
elif len(user_input)>5:
    print("Your input is greater than 5 Characters")
else:
    print("Yout input is exactly equal to 5 Characters")

Type Something....Sneha
Yout input is exactly equal to 5 Characters

## 5[d] Challenge to find the factors of a number.

In [7]:
#for eg if IP=10, my output=1,2,5,10

In [ ]:
user_input=int(input("Enter any Number:"))

for i in range(1,user_input+1):
    if user_input % i == 0:
        print('{} is a factor of {}'.format(i,user_input))

## 5[e] Break out of the Pattern

In [10]:
while True:
    get_input=input("Type q or Q to quit from this window:")
    if get_input.lower() == 'q':
        break

Type q or Q to quit from this window:1
Type q or Q to quit from this window:2
Type q or Q to quit from this window:3
Type q or Q to quit from this window:q

In [13]:
#continue inside loop
for i in range(1,100):
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98