In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
claimants_data=pd.read_csv('claimants.csv')
claimants_data.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [3]:
del claimants_data['CASENUM']

In [4]:
claimants_data.dropna(axis=0,inplace=True)

In [5]:
claimants_data.isnull().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [9]:
X=claimants_data.iloc[:,1:]
y=claimants_data[['ATTORNEY']]

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [20]:
stack_algorithm=[]

log_model=LogisticRegression()
#log_model.fit(X,y)
dt_model=DecisionTreeClassifier()
#dt_model.fit(X,y)
svc_model=SVC()
#svc_model.fit(X,y)

stack_algorithm.append(('log',log_model))
stack_algorithm.append(('dt',dt_model))
stack_algorithm.append(('svc',svc_model))

In [21]:
stack_algorithm

[('log', LogisticRegression()),
 ('dt', DecisionTreeClassifier()),
 ('svc', SVC())]

In [22]:
st_model=VotingClassifier(estimators=stack_algorithm)

In [23]:
import warnings
warnings.filterwarnings('ignore')

In [24]:
from sklearn.model_selection import cross_val_score
cv_score=cross_val_score(estimator=st_model,X=X,y=y,cv=5)#Fitting,Training and Testing
print('CV score for 5 Fold={}\nMean Accuracy={}\nDeviation={}'.format(cv_score,cv_score.mean(),cv_score.std()))

CV score for 5 Fold=[0.69545455 0.67123288 0.71232877 0.68493151 0.70776256]
Mean Accuracy=0.6943420506434205
Deviation=0.015016403441974179